$primary-font: montserratbold;
$font-step: montserratregular;
$font-content: robotolight;
$color-w-bg: #fff;
$color-primary-wo-bg: #333333;
$color-secondary: #666666;
$color-slider-cont: #ccc;
$color-backgr-page: #fff;
$color-btnBg: #ff4e50;
